.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.verticalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.item {
  height: 70px;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 3%;
  box-sizing: border-box;
}
.item pre {
  margin-bottom: 0;
}

/* Table */

.dashboardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3%;
  border: 1px solid #dddddd;
  /* overflow-x: scroll; */
}

.dashboardTable th,
.dashboardTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  /* height: 10px; */
}

.dashboardTable th {
  background-color: #f8f5f5;
}

.dashboardTable tr:nth-child(even) {
  /* background-color: #f9f9f9; */
}

.dashboardTable tr:hover {
  background-color: #f2f2f2;
}

.dashboardTable tr:first-child th {
  border-top: 0;
}

.dashboardTable tr:last-child td {
  border-bottom: 0;
}

.dashboardTable tr td:first-child,
.dashboardTable tr th:first-child {
  border-left: 0;
}

.dashboardTable tr td:last-child,
.dashboardTable tr th:last-child {
  border-right: 0;
}
.tableContent {
  padding: 15%;
  padding-top: 0;
  padding-bottom: 1%;
  border-radius: 10px;
  margin: 0;
  color: white;
  font-size: 0.9rem;
}

.tableBottom {
  padding: 1%;
}
.tableTop {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.tableTopleft {
  display: flex;
  gap: 2%;
  height: 30px;
  width: max-content;
}
.tableTopleft select {
  /* padding: 5%; */
  width: max-content;
}
.tableTopleft p {
  width: 300px;
}
.reportTableContainer {
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  padding: 20px; /* Padding for content */
}
.textGreen {
  /* color: purple; */
  color: green;
  font-size: 1.3rem;
  margin: 0;
}

.fullWidthContainer {
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding for content */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.employeeID {
  border: 2px solid #6fd943;
  padding: 1%;
  color: #6fd943;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  box-sizing: content-box;
  cursor: pointer;
}
.employeeID :hover {
  color: white;
  background-color: #6fd943;
}

.statusTd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statusdraft {
  background-color: grey;
}
.statusPaid {
  background-color: rgb(146, 188, 83);
}
.statusPartiallypaid {
  background-color: rgb(60, 152, 152);
}

.editIcon,
.deleteIcon {
  margin: 0 5px;
  cursor: pointer;
  color: #007bff;
}

.editIcon:hover,
.deleteIcon:hover {
  color: #0056b3;
}

.icondiv {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  margin: "0";
  min-width: "700px";
}

.contentButton {
  background-color: rgb(76, 134, 210);
  border: 0;
  padding: 5%;
  margin-top: 12%;
  color: white;
  font: 1.2em sans-serif;
  border-radius: 10px;
}
.contentButton:hover {
  background-color: white;
  color: rgb(76, 134, 210);
  border: 2px solid rgb(76, 134, 210);
  border-radius: 10px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.greenButton {
  background-color: #6fd943;
  display: inline;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
}

.pinkButton {
  background-color: rgb(224, 94, 94);
  display: inline;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
}
.blueButton {
  background-color: #7881fd;
  display: inline;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
}

.yellowButton {
  background-color: rgb(245, 180, 96);
  display: inline;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
}








/* Progress bar */

.status {
  margin-bottom: 20px;
  /* width: 50%; */
  /* padding: 2%; */
}

.label,
.percentage {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  color: #333;
}

.percentage {
  font-weight: bold;
  color: #33cc33;
  margin-bottom: 5px;
}

.progressBar {
  background: #e6e6e6; 
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.progress {
  background: #33cc33; /* green color */
  height: 10px;
}

.verticalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: white;
  text-align: center;
  width: 100%;
  /* background-color: #ccc;     */
}
.cardLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5%;
  width: 70%;
}
.icon2 {
  font-size: 32px;
  color: whitesmoke;
}


.value {
  font-size: 28px;
  font-weight: bold;
}
.contentLeft {
  text-align: left;
}
.contentLeft p {
  margin: 0;
  font-size: 1.15rem;
}
.contentLeft pre {
  font-size: 0.9rem;
  margin: 0;
}
.textPurple {
  color: #c06bd6;
  font-size: 1.3rem;
  margin: 0;
}
.textOrange {
  /* color: purple; */
  color: #e06c28;
  font-size: 1.3rem;
  margin: 0;
}





/* date filter css */
/*                              DateFilter css */
/* src/DateFilter.module.css */

.dateFilter {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  padding: 1%;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px; /* Increase width */
}

label {
  margin-bottom: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  padding: 5px;
  font-size: 14px;
  width: 100%; /* Full width */
  box-sizing: border-box;
}

select {
  padding: 5px;
  font-size: 14px;
  width: 100%; /* Full width */
  box-sizing: border-box;
}

.icon {
  position: absolute;
  right: 10px;
  color: #999;
}

.searchButton,
.clearButton {
  width: 40px; /* Increase button size */
  height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Increase icon size */
  color: white;
}

.searchButton {
  background-color: #00cc44;
}

.clearButton {
  background-color: #ff6666;
}
