.header {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 350px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userInfo {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.userIcon {
  margin-right: 10px;
}

.userName {
  margin-right: 5px;
}

.dropdownArrow {
  font-size: 12px;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownIcon {
  margin-right: 10px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.notificationsIcon {
  margin-right: 20px;
  cursor: pointer;
}

.languageSwitcher {
  position: relative;
}

.languageButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.languageButton .dropdownArrow {
  margin-left: 15px;
}
