/* Sidebar.module.css */

.sidebar {
  width: 350px; /* Set the width of the sidebar */
  background-color: #f8f9fa; /* Set the background color */
  padding: 20px; /* Add some padding */
  border-right: 1px solid #dee2e6; /* Add a border on the right side */
  height: 99vh;
  overflow-y: scroll;
  /* background-color: black; */
}

/* Scrollbar track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
  background: #69a9e9; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f8f9fa; /* Creates space around the thumb */
}

/* Scrollbar thumb on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #2a77c4; /* Change color when hovering */
}

/* Scrollbar width */
.sidebar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
.logoContainer {
  text-align: center; /* Center align the logo */
  margin-bottom: 20px; /* Add some space below the logo */
}

.logo {
  width: 80%; /* Set the width of the logo */
}

.navItem {
  padding: 10px;
  color: #0f0f10 !important;
  text-emphasis: 4;
  text-decoration: none; /* Remove default link underline */
  /* display: block; */
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #76b0ea; /* Darker hover effect */
}

.active {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.childLink {
  padding-left: 30px; /* Indent child links */
  /* display: block !important; */
}

.dropdownIcon {
  margin-left: auto; /* Push dropdown icon to the right */
  font-size: 1.2em;
}

.icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.2em;
}

.dropdown {
  background-color: #f1f1f1; /* Background color for dropdown menu */
  padding-left: 20px; /* Add indentation for dropdown links */
  border-left: 2px solid #1abc9c; /* Border to highlight nested dropdowns */
}

.childWithSubmenu {
  padding-left: 30px; 
}

.childWithSubmenu .navItem {
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childLink .navItem {
  /* color: #555;  */
}

.childLink:hover .navItem,
.childWithSubmenu:hover .navItem {
  background-color: #e9ecef;
}
.navItem.active {
  background-color: #76b0ea; /* Highlight active item with a different color */
  /* color: #fff;  */
  /* Ensure text color is visible on the active background */
}

.noChild{
    display:block !important;
}